<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="Git详解">
        <meta name="author" content="Taotianhao">
        <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
        <title>GitShow</title>
    </head>
<body>
<div id="mountNode"></div>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.1.0/build/g6.js"></script>
</div>

</body>
</html>
<script type="module">
    G6.registerNode('card-node', {
        draw: function drawShape(cfg, group) {
            const r = 2;
            const color = '#5B8FF9';
            const w = cfg.size[0];
            const h = cfg.size[1];
            const shape = group.addShape('rect', {
                attrs: {
                    x: -w / 2,
                    y: -h / 2,
                    width: w, //200,
                    height: h, // 60
                    stroke: color,
                    radius: r,
                    fill: '#fff',
                },
                name: 'main-box',
                draggable: true,
            });

            group.addShape('rect', {
                attrs: {
                    x: -w / 2,
                    y: -h / 2,
                    width: w, //200,
                    height: h / 2, // 60
                    fill: color,
                    radius: [r, r, 0, 0],
                },
                name: 'title-box',
                draggable: true,
            });

            // title text
            group.addShape('text', {
                attrs: {
                    textBaseline: 'top',
                    x: -w / 2 + 8,
                    y: -h / 2 + 2,
                    lineHeight: 20,
                    text: cfg.id,
                    fill: '#fff',
                },
                name: 'title',
            });
            cfg.children &&
            group.addShape('marker', {
                attrs: {
                    x: w / 2,
                    y: 0,
                    r: 6,
                    cursor: 'pointer',
                    symbol: G6.Marker.collapse,
                    stroke: '#666',
                    lineWidth: 1,
                    fill: '#fff',
                },
                name: 'collapse-icon',
            });
            group.addShape('text', {
                attrs: {
                    textBaseline: 'top',
                    x: -w / 2 + 8,
                    y: -h / 2 + 24,
                    lineHeight: 20,
                    text: 'description',
                    fill: 'rgba(0,0,0, 1)',
                },
                name: `description`,
            });
            return shape;
        },
        setState(name, value, item) {
            if (name === 'collapsed') {
                const marker = item.get('group').find((ele) => ele.get('name') === 'collapse-icon');
                const icon = value ? G6.Marker.expand : G6.Marker.collapse;
                marker.attr('symbol', icon);
            }
        },
    });

    const data = {
        id: 'A',
        children: [
            {
                id: 'A1',
                children: [{ id: 'A11' }, { id: 'A12' }, { id: 'A13' }, { id: 'A14' }],
            },
            {
                id: 'A2',
                children: [
                    {
                        id: 'A21',
                        children: [{ id: 'A211' }, { id: 'A212' }],
                    },
                    {
                        id: 'A22',
                    },
                ],
            },
        ],
    };

    const width = document.getElementById('container').scrollWidth;
    const height = document.getElementById('container').scrollHeight || 500;

    const graph = new G6.TreeGraph({
        container: 'container',
        width,
        height,
        defaultNode: {
            type: 'card-node',
            size: [100, 40],
        },
        defaultEdge: {
            type: 'cubic-horizontal',
            style: {
                endArrow: true,
            },
        },
        layout: {
            type: 'indented',
            direction: 'LR',
            dropCap: false,
            indent: 200,
            getHeight: () => {
                return 60;
            },
        },
    });
</script>